@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@font-face{
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Roman.otf);
}
html{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
  font-family: "HelveticaNeueCyr";
  font-size: 15px;
    -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  margin: 0px;
}
body{
margin: 0px;
transition: linear 1s;
font-size: 18px;
}
 nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: black;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
#c20{
  margin-bottom: -2px;
  margin-right: 7px;
}

.center {
  text-align: center;
}

section {
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #000;
}

h1{

  font-size: 26px;
  font-weight: bold;
}

a{
  color: #000;
    text-decoration: none;  
}
a:hover {
  color: #1A224D;
  text-decoration: none;  
  outline: 0;
}
a:focus {
  text-decoration: none;  
  outline: 0;
}
.special:hover{
  color: #000;
   transition: 1s linear;
}
.navbar-brand {
  font-size: 16px;
  font-weight: bold;
  margin-left: calc(50% - 574px)
}
.active1{
  margin-left: 74px;
}
#social1{
  margin-left: 150px;
}
.navbar-right {
margin-top: -38px;
  position: absolute;
  width: 700px;
  top: 31px;
z-index: 0;
left: calc(50% - 350px);
font-size: 15px;
font-weight: normal;
padding-inline-start: 20px;
}

li {
  display: inline;
  padding-right: 30px;
}

.navbar-inverse {
  background: rgba(0,0,0,0);

}

#end{
  display: inline;
}
.socialimg1{
  margin-right: 8px;
  margin-top: -5px;
}
.phone {
  position: absolute;
  top: 0px;
  left: calc(50% + 457px);
  color: black;
  font-size: 15px;
  font-weight: normal;
}
#phone{
  position: absolute;
  top: 3px;
  left: -25px;
}
.fake {

}

.first {
  background-color: white;
  background-image: url(1/fon1.png); 
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;

  min-height: 1000px;
}
#bruh{
position: absolute;
left: calc(50% - 605px);
top: 6px;
}
p#bruh1{
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 119.18%;
margin-top: 2px;
}

.left1{
  height: 700px;
  background-color: white;

}
.insideleft{
  position: absolute;
  width: 372px;
  left: calc(50% - 610px);
  top: 200px;
}
h1{
  font-size: 36px;
  width: 541px;
}
.insideright{
  position: absolute;
  left: calc(50% + 59px);
  top: 146px;
}
.ramka, .ramka1{
  position: absolute;
  left: 0px;
  top: 0px;
}
.ramka2{
  position: absolute;
  right: 0px;
  top: 0px;
}
.ramka3{
  position: absolute;
  left: 42px;
  top: 0px;
}
.ramka4{
  position: absolute;
  left: 42px;
  bottom: 0px;
}
#learnmore{
  margin-top: 30px;
  font-size: 15px;
}
.strelka{
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}
.palka, .palka1{

  margin-bottom: 5px;
  margin-left: 10px;
}


.second{
  height: 650px;
  background-color: white;

}
.insideright2{
  position: absolute;
  width: 465px;
  left: calc(50% + 120px);
  margin-top: 100px;
}
.insideleft2{
  position: absolute;
  width: 478px;
  left: calc(50% - 610px);
}
.socialimg{
  margin-bottom: -1px;
  margin-left: 10px;
}
#social{
  margin-top: 30px;
}
.third, .four {

  width: 100%;
  background: white;
  display:inline-block;

}
.four{
    padding-top: 100px;
    z-index: 3;
}
.five{
  position: relative;
  width: 100%;
  background: white;
  display:inline-block;
  margin-top: 100px;
}

.six1{
  position: relative;
  width: 100%;
  background: white;
  display:inline-block;
  margin-top: 100px;
}
.left3{
  width: 50%;
  position: absolute;
  left: calc(50% - 610px);
  font-size: 30px;
  line-height: 148.18%;
  font-style: normal;
font-weight: bold;
}
.right3{
  margin-top: 6px;
  text-align: right;
width: 1130px;
    position: absolute;
    right: calc(-625px + 50%);
  font-size: 24px;
  line-height: 148.18%;
  font-style: normal;
}
.strelka1{
  position: absolute;
  margin-top: 18px;
  margin-left: 10px;
}
.strelka2{
    margin-bottom: -10px;
    margin-left: 5px;
}

#f1{
  position: absolute;
  height: 265px;
  left: 0px;
  width: 15.65%;
  transition: linear 0.2s;
}
#f1:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 
  transition-timing-function: ease-in-out;
}
#f2{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15px); 
   transition: linear 0.2s;
}
#f2:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#f3{
  position: absolute;
  height: 265px;
  width: 15.65%;
  top: 280px;
  left: 0%;
  transition: linear 0.2s;
}
#f3:hover {
margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#f4{
  position: absolute;
  height: 265px;
  left: calc(15.65% + 15px); 
  top: 280px;
  width: 15.65%;
  transition: linear 0.2s;
}
#f4:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#f5{
  position: absolute;
  left: calc(15.65% + 15.65% + 30px); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
  z-index: 3;
}
#f5:hover {
  margin-top: -7.5px;
  margin-left: -4px;
  height: 560px;
  width: 33.1%;
  z-index: 3;
}

#f6{
  position: absolute;
  height: 265px;
  width: 15.65%;
  right: calc(15.65% + 15px); 
  transition: linear 0.2s;
}
#f6:hover, #f7:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-right: calc(-5.35px); 

}
#f7{
  position: absolute;
  height: 265px;
  right: 0%; 
  width: 15.65%;
  transition: linear 0.2s;
}

#f8{
  position: absolute;
  height: 265px;
  top: 280px;
  width: 15.65%;
  right: calc(15.65% + 15px); 
  transition: linear 0.2s;
}
#f9{
  position: absolute;
  height: 265px;
  top: 280px;
  right: 0%;  
  width: 15.65%;
  transition: linear 0.2s;
}
#f10{
  position: absolute;
  left: calc(40%);
  height: 0px;
  width: calc(20% - 10px);
  transition: linear 0.2s;
  bottom: 0px;
  opacity: 0;
}
#f8:hover, #f9:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-right: calc(-5.35px); 

}
#d1{
  position: absolute;
  height: 265px;
  left: 0px;
  width: 15.65%;
  transition: linear 0.2s;
}
#d1:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d2{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15px);
   transition: linear 0.2s;
}
#d2:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d3{
  position: absolute;
  height: 265px;
  width: 15.65%;
  top: 0vw;
  left: calc(15.65% + 15.65% + 30px); 
  transition: linear 0.2s;
}
#d3:hover {
margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d4{
  position: absolute;
  height: 265px;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
  top: 0vw;
  width: 15.65%;
  transition: linear 0.2s;
}
#d4:hover {
  margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d5{
  position: absolute;
  left: calc(15.65% + 15.65% + 15.65% + 15.65% + 61px); 
  height: 265px;
  width: 15.65%;
  transition: linear 0.2s;
}
#d5:hover {
  margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}

#d6{
  position: absolute;
  height: 265px;
  width: 15.65%;
  right: calc(0px); 
  transition: linear 0.2s;
}
#d6:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-right: calc(-5.35px); 

}

#d7:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-right: calc(-5.35px); 

}
#d7{
  position: absolute;
  height: 265px;
  left: 0%; 
    top: 280px;
  width: 15.65%;
  transition: linear 0.2s;
}

#d8{
  position: absolute;
  height: 265px;
  top: 280px;
  width: 15.65%;
left: calc(15.65% + 15px);
  transition: linear 0.2s;
}
#d8:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-right: calc(-5.35px); 

}


#d11{
  position: absolute;
  height: 265px;
  left: 0px;
  width: 15.65%;
  transition: linear 0.2s;
}
#d11:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d12{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15px);
   transition: linear 0.2s;
}
#d12:hover {
    margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d13{
  position: absolute;
  height: 265px;
  top: 0vw;
  left: calc(15.65% + 15.65% + 30px); 
  transition: linear 0.2s;
}
#d13:hover {
  margin-top: -7.475px;
  height: 280px;

  margin-left: calc(-5.35px); 

}
#d14{
  position: absolute;
  height: 265px;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
  top: 0vw;
  width: 15.65%;
  transition: linear 0.2s;
}
#d14:hover {
  margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}
#d15{
  position: absolute;
  left: calc(15.65% + 15.65% + 15.65% + 15.65% + 61px); 
  height: 265px;
  width: 15.65%;
  transition: linear 0.2s;
}
#d15:hover {
  margin-top: -7.475px;
  height: 280px;
  width: 16.3%;
  margin-left: calc(-5.35px); 

}


.main31, .main01{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);

    }
    .main3{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
        opacity: 0;

    }
    .main2{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
        opacity: 0;
    }
        .main21{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
    }
    .main1{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
        opacity: 0;
    }
        .main11{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
    }
    .main0{
  position: relative;
  width: 1248px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 624px);
        opacity: 0;

    }
#show, #show1, #show2, #show3{
  float: right;
  left: calc(50% - 400px);
  width: 300px;
  cursor: pointer;
  font-size: 15px;
}

#showmore, #showmore1, #showmore2, #showmore3{
  position: absolute;
  width: 1248px;
  height: 56px;
  border: 0px;
  left: calc(50% - 624px);
  margin-top: 15px;
  font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 148.18%;
}
#hide, #hide3{
  z-index: 10;
  position: absolute;
  height: auto;
  width: 57px;
  right: -6px;
  top: -6.8px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
}
#hide1{
  z-index: 10;
  position: absolute;
  height: auto;
  width: 57px;
  right: -6px;
  top: -6.8px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
}
#hide2{
  z-index: 10;
  position: absolute;
  height: auto;
  width: 57px;
  right: -6px;
  top: -6.8px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
}
#medium, #medium3{
  position: absolute;
  top: 50%;
    left: calc(50% - 23px);

}
#medium1{
  position: absolute;
  top: 50%;
    left: calc(50% - 23px);

}
#knopka2{
  width: 100%;
}
#knopk{
  color: white;
}
.main5{
  padding-top: 80px;
  background-color: white;
  z-index: 3;
}
#f11{
  position: absolute;
  left: calc(15.65% + 15.65% + 30px); 
  height: 265px;
  width: 15.65%;
  transition: linear 0.2s;
}
#f11:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f12{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
   transition: linear 0.2s;
}
#f12:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f13{
  position: absolute;
  height: 265px;
  width: 15.65%;
  top: 280px;
  left: calc(15.65% + 15.65% + 30px);
  transition: linear 0.2s;
}
#f13:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f14{
  position: absolute;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
  height: 265px;
  width: 15.65%;
  top: 280px;
  transition: linear 0.2s;
}
#f14:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f15{
  position: absolute;
  left: calc(0); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f15:hover {
  margin-top: -6.13px;
  margin-left: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}

#f16{
  position: absolute;
  right: calc(0px); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f16:hover {
  margin-top: -6.13px;
  position: absolute;
  margin-right: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}

.items{
  position: relative;
  margin-top: 545px;
  opacity: 0;
  margin-top: 15px;
}
.items1{
  position: relative;
  margin-top: 545px;
}

.up{
  position: absolute;
  background-color: rgba(233, 233, 233, 0.6);
  width: 92px;
  height: 1241px;
  top: 100px;
  z-index: 4;
  right: calc(50% - 679.5px)
}
.arrow_up{
  position: absolute;
  left: calc(50% - 23.5px);
  top: calc(50% - 13px);
}
button {
  border:0px;
  background-color: white;
  font-size: 15px;
}
.showmore{
  position: absolute;
  left: 50%;
  width: 1359px;
  left: calc(50% - 679.5px);
  bottom: -71px;
  background-color: #E9E9E9;
  height: 56px;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
}
.six{
  margin-top: 56px;
  position: relative;
  height: 464px;
  width: 100%;
  background-color: #D8D8D8;
  font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 150%;
}
h1.sixh{
  font-size: 24px;
  margin-bottom: 31px;
}
.insideleft6{
  position: absolute;
  width: 383px;
  left: calc(50% - 610px);
  bottom: 176px;
  font-size: 15px;
}
#learnmore6{
  font-weight: bold;
  margin-top: 10px;
}

.insideright6{
  margin-top: 13px;
  position: absolute;
  left:50%;
  width: 410px;
  font-weight: normal;
font-size: 15px;
line-height: 148.18%;
}
.input{
  padding-left: 15px;
  height: 56px;
  width: 400px;
  margin-top: 30px;
  border: 0px;
}
.order{
  background-color: black;
  font-weight: bold;
font-size: 13px;
line-height: 13px;
width: 88px;
height: 29px;
color: white;
margin-top: 30px;
border: 0px;
text-align: center;
}
.file{
  position: absolute;
  left: calc(560px);
  top: calc(-42px + 50%);
}
.navbar-header1{
  position: absolute;
  bottom: 17px;
  background-color: white;
  width: 100%;
}
.kek{
  position: absolute;
  width: 100%;
  background-color: white;
  height: 92px;
  bottom: 0px
}
#downarrow{
  margin-left: 7px;
  margin-bottom: 2px;
}
#downarrow1{
  margin-left: 7px;
  margin-bottom: 2px;
  transform: rotate(180deg);
}
#cost, #cost1, #cost2, #cost3{
  position: relative;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-top: 40px;
  z-index: 2;
  overflow: hidden;

}
#costbutton{
  position: absolute;
  left: calc(50% - 52px);
  margin-top: 40px;
  opacity: 0;
}
#costhyperdiv{
  cursor: pointer;
  z-index: 2;
}
#costhyper{
  font-size: 15px;
}
#costhyperdiv1, #costhyperdiv2, #costhyperdiv3{
  cursor: pointer;
  z-index: 2;
  font-size: 15px;
}
#costbutton1, #costbutton2, #costbutton3 {
    position: absolute;
    left: calc(50% - 52px);
    margin-top: 40px;
    opacity: 0;
    z-index: 4;
}
#leftcost{
  position: absolute;
  left: calc(50% - 420px);
  width: 400px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#leftcostdown{
  position: absolute;
  left: calc(50% - 720px);
  width: 400px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#leftcostdown1{
  position: absolute;
  left: calc(50% - 720px);
  width: 400px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#rightcost{
  width: 400px;
  height: 400px;
  margin-left: calc(50% + 20px);
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#insidecost, #insidecost1{
    width: 1248px;
    margin-left: calc(50% - 624px);
    z-index: 2;
}
.leftcost1{
  position: absolute;
  margin-top: 40px;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
margin-left: 68px;
z-index: 2;
}
.leftcost2{
    margin-top: 40px;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
margin-left: 140px;
z-index: 2;
}
#order, #order1, #order2, #order3{
  margin-left: 30px;
  font-weight: bold;
  color: white;
  border: solid black 1px;
  padding: 5px 10px 5px 10px;
  background-color: black;
  z-index: 2;
}

.secondcost1{
  text-align: left;
  position: absolute;
  left: calc(50% - 105px);
  width: 220px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
.thirdcost1{
  text-align: left;
  position: absolute;
  left: calc(50% - 105px);
  width: 120px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
.fourcost1{
  text-align: left;
  position: absolute;
  left: calc(50% - 355px);
  width: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}

#secondcost2{
  margin-left: 530px;
  margin-top: -335px;
  text-align: left;
  width: 354px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#secondcost21{
  text-align: left;
}
#thirdcost2{
  margin-left: 450px;
  margin-top: -512px;
  text-align: left;
  width: 500px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}

#secondcost3{
  margin-left: 1070px;
  margin-top: -400px;
  text-align: left;
  width: 500px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#thirdcost3{
  margin-left: 736px;
  margin-top: -400px;
  text-align: left;
  width: 500px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}
#thirdcost4{
  margin-left: 996px;
  margin-top: -400px;
  text-align: left;
  width: 500px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}

#thirdcost5{
  margin-left: 996px;
  margin-top: -205px;
  text-align: left;
  width: 500px;
  height: 400px;
  font-weight: bold;
font-size: 23px;
line-height: 148.18%;
z-index: 2;
}


.secondcost11{
  text-align: left;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
margin-left: 95px;
letter-spacing: -0.04em;
}
.thirdcost11{
  text-align: left;
  font-weight: bold;
font-size: 23px;
width: 200px;
line-height: 148.18%;
margin-left: 95px;
letter-spacing: -0.04em;
}
.fourcost11{
  text-align: left;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
margin-left: calc(50% - 30px);
letter-spacing: -0.04em;
}

.secondcost12{
  text-align: left;
  font-style: normal;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
letter-spacing: -0.04em;
}
.thirdcost12{
  margin-left: -13px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
letter-spacing: -0.04em;
}

.secondcost13{
  text-align: left;
  font-style: normal;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
letter-spacing: -0.04em;
}
.thirdcost13{
  margin-left: -13px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
letter-spacing: -0.04em;
}
.thirdcost14{
  text-align: left;
  font-style: normal;
  font-weight: normal;
font-size: 23px;
line-height: 148.18%;
letter-spacing: -0.04em;
}



@media (min-width: 768.00001px) and (max-width: 1300px){
.navbar-brand {
  font-size: 14px;
  font-weight: bold;
  margin-left: calc(50% - 320px)
}
.navbar-right {
margin-top: -38px;
  position: absolute;
  width: 600px;
z-index: 0;
left: calc(50% - 305px);
font-size: 12px;
font-weight: normal;
padding-inline-start: 20px;
}
#c20 {
    margin-bottom: -3px;
    margin-right: 7px;
}
#social1 {
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 3px;
}
.active1{

}
li {
  display: inline;
  padding-right: 0px;
}
.phone {
    position: absolute;
    top: 0px;
    left: calc(50% + 190px);
    color: black;
    font-size: 13px;
    font-weight: normal;
}
#bruh {
    position: absolute;
    left: calc(50% - 346px);
    width: 18px;
    height: 21px;
}
.ramka {
    width: 265px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 265px;
}
#albert{
  width: 265px;
  height: 265px;
}
.insideright{
  position: absolute;
  left: calc(50% + 84px);
  top: 146px;
}
h1 {
    font-size: 24px;
    width: 100%;
}
.insideleft {
    position: absolute;
    width: 307px;
    left: calc(50% - 346px);
    top: 129px;
    font-size: 12px;
}
.left1 {
    height: 450px;
    background-color: white;

}
.secondcost1, #secondcost2, #secondcost3{
  font-size: 14px;
}
.secondcost11, .secondcost12, .secondcost13{
  font-size: 14px;
}
#leftcostdown {
    position: absolute;
    left: calc(50% - 440px);
    width: 400px;
    height: 300px;
    font-weight: bold;
    font-size: 18px;
    line-height: 148.18%;
    z-index: 2;
}
#secondcost2 {
    margin-left: 310px;
    margin-top: -251px;
    text-align: left;
    width: 216px;
    height: 300px;
    font-weight: bold;
    line-height: 148.18%;
    z-index: 2;
}
#secondcost21{
  text-align: left;
}
#secondcost3 {
    margin-left: 590px;
    margin-top: -300px;
    text-align: center;
    width: 154px;
    height: 400px;
    font-weight: bold;
    line-height: 148.18%;
    z-index: 2;
}
#costhyper1{
  font-size: 15px;
}
#order, #order1, #order2, #order3{
  font-size: 15px;
}
#secondcost31{
  text-align: left;
}
.secondcost1 {
  width: 130px;
  text-align: center;
}
.thirdcost11, .thirdcost12, .thirdcost13, .thirdcost14, #thirdcost5{
font-size: 14px;
}
.thirdcost12, .thirdcost13, .thirdcost14{
  margin-left: 0px;
}
#thirdcost2{
  margin-top: -386px;
  font-size: 14px;
  width: 100px;
  margin-left: 280px;
}
#thirdcost3{
  font-size: 14px;
  width: 100px;
  margin-left: 440px;
}
#thirdcost4, #thirdcost5{
  font-size: 14px;
  width: 190px;
  margin-left: 580px;
}

#thirdcost5{
  font-size: 14px;
  width: 190px;
  margin-left: 580px;
  margin-top: -245px;
}
#thirdcost3{
  font-size: 14px;
}
#thirdcost4{
  font-size: 14px;
}
#leftcostdown1{
  left: calc(50% - 441px);
}
.fourcost1{
  text-align: left;
  position: absolute;
  left: calc(50% - 232px);
  width: 400px;
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
.fourcost11 {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 148.18%;
    margin-left: calc(50% - 30px);
    letter-spacing: -0.04em;
}
#second{
  width: 265px;
  height: 265px;
}
.insideleft2{
  position: absolute;
  width: 265px;
  left: calc(50% - 346px);


}
.ramka1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 33px;
  height: 100%;
}
.ramka2{
  position: absolute;
  right: 0px;
  top: 0px;
    width: 33px;
  height: 100%;
}
.ramka3{
  position: absolute;
  left: 33px;
  top: 0px;
  width: calc(100% - 66px);
  height: 33px;
}
.ramka4{
  position: absolute;
  left: 33px;
  bottom: 0px;
    width: calc(100% - 66px);
    height: 33px;
}
.insideright2 {
    position: absolute;
    width: 307px;
    left: calc(50% + 44px);
    margin-top: 15px;
    font-size: 12px;
    line-height: 150%;
}
.palka1 {
    margin-bottom: 3px;
    margin-left: 10px;
    width: 20px;
}
.palka {
    margin-bottom: 3px;
    margin-left: 10px;
}

.socialimg {
    margin-bottom: -1px;
    margin-left: 10px;
}
.socialimg1 {
    margin-right: 8px;
    margin-top: -5px;
}
.second {
    height: 350px;
    background-color: white;
}
.left3 {
    width: 50%;
    position: absolute;
    left: calc(50% - 346px);
    font-size: 18px;
    line-height: 148.18%;
    font-style: normal;
    font-weight: bold;
}
.right3 {
    margin-top: 6px;
    text-align: right;
    width: 330px;
    position: absolute;
    right: calc(50% - 338px);
    font-size: 12px;
    line-height: 148.18%;
    font-style: normal;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 12px;

}
#costhyper, #costhyper2, #costhyper3, #costhyper4{
  font-size: 15px;
}
.strelka2 {
    margin-bottom: -8px;
    width: 42px;
}
.main31, .main21, .main11, .main01 {
    position: relative;
    width: 695px;
    height: 366px;
    margin-top: 15px;
    background-color: white;
    left: calc(50% - 347.5px);
}

#f1{
  position: absolute;
  height: 178px;
  width: calc(20% - 10px);
  left: 0px;
  transition: linear 0.2s;
}
#f1:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
#f2{
  position: absolute;
  height: 178px;
  width: calc(20% - 10px);
  left: calc(20%); 
   transition: linear 0.2s;
}
#f2:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
#f3{
  position: absolute;
  height: 178px;
  width: calc(20% - 10px);
  top: 0px;
  left: 40%;
  transition: linear 0.2s;
}
#f3:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
#f4{
  position: absolute;
  left: calc(60%);
  top: 0px;
  height: 178px;
  width: calc(20% - 10px);
  transition: linear 0.2s;
}
#f4:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
#f5{
  position: absolute;
  left: calc(80%);
  height: 178px;
  width: calc(20% - 10px);
  transition: linear 0.2s;
}
#f5:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}

#f6{
  position: absolute;
  height: 178px;
  width: calc(20% - 10px);
    left: calc(0%);
    top: 188px;
  transition: linear 0.2s;
}
#f6:hover, #f7:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
#f7{
  position: absolute;;
    left: calc(20%);
  height: 178px;
  top: 188px;
  width: calc(20% - 10px);
  transition: linear 0.2s;
}

#f8{
  position: absolute;
  height: 178px;
  width: calc(20% - 10px);
  top: 188px;
    left: calc(40%);
  transition: linear 0.2s;
}
#f9{
  position: absolute;
   height: 178px;
  width: calc(20% - 10px);
  top: 188px;
    left: calc(60%);
  transition: linear 0.2s;
}
#f8:hover, #f9:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 


}
#f10{
  position: absolute;
  left: calc(80%);
  height: 178px;
  width: calc(20% - 10px);
  transition: linear 0.2s;
  top: 188px;
  opacity: 1;
}
#f10:hover {
    margin-top: -5.475px;
  height: 188px;
  width: calc(20%);
  margin-left: calc(-5.35px); 

}
h1.sixh {
    font-size: 18px;
    margin-bottom: 20px;
}
.insideleft6{
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
width: 315px;
bottom: 200px;
left: calc(50% - 346px);
margin-bottom: -45px;
}
.input {
    padding-left: 15px;
width: 245px;
height: 40px;
    margin-top: 20px;
    border: 0px;
    font-size: 12px;
}
.six {
    margin-top: 56px;
    position: relative;
    height: 344px;
    width: 100%;
    background-color: #D8D8D8;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
}
#learnmore6 {
    font-weight: bold;
    margin-top: 10px;

}
.kek {
    position: absolute;
    width: 100%;
    background-color: white;
    height: 62px;
    bottom: 0px;
    padding-top: 20px;
}
.insideright6{
      margin-top: 16px;
      width: 350px;
      bottom: 130px;
}
.order {
    margin-top: 19px;
}
.file{
  position: absolute;
  left: calc(296px);
  width: 42px;
  top: calc(-15px + 50%);
}

#f11{
  position: absolute;
  left: calc(15.65% + 15.65% + 30px); 
  height: 178px;
  width: 33.1%;
  transition: linear 0.2s;
}
#f11:hover {
    margin-top: -7.475px;
  height: 178px;
  width: 33.1%;
  margin-left: calc(-5.35px); 
}
#f12{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
   transition: linear 0.2s;
}
#f12:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f13{
  position: absolute;
  height: 265px;
  width: 15.65%;
  top: 280px;
  left: calc(15.65% + 15.65% + 30px);
  transition: linear 0.2s;
}
#f13:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f14{
  position: absolute;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
  height: 265px;
  width: 15.65%;
  top: 280px;
  transition: linear 0.2s;
}
#f14:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f15{
  position: absolute;
  left: calc(0); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f15:hover {
  margin-top: -6.13px;
  margin-left: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}

#f16{
  position: absolute;
  right: calc(0px); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f16:hover {
  margin-top: -6.13px;
  position: absolute;
  margin-right: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}
    .main3, .main2, .main1{
    position: relative;
    width: 695px;
    height: 366px;
    margin-top: 10px;
    background-color: white;
    left: calc(50% - 347.5px);

    }
  #showmore, #showmore1, #showmore2, #showmore3{
    width: 100vw;
left: calc(0px);
        font-size: 14px;
        font-weight: bold;
        height: 40px;
  }
  .main5{
  padding-top: 40px;
  background-color: white;
  z-index: 3;
}
#leftcost{
  position: absolute;
  left: calc(50% - 350px);
  width: 400px;
  height: 286px;
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
#rightcost{
  width: 400px;
  height: 286px;
  margin-left: calc(50% + -54px);
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
.leftcost1{
  position: absolute;
  margin-top: 30px;
  font-weight: normal;
font-size: 14px;
line-height: 148.18%;
margin-left: 120px;
z-index: 2;
}
.leftcost2{
    margin-top: 30px;
  font-weight: normal;
font-size: 14px;
line-height: 148.18%;
margin-left: 86px;
z-index: 2;
}
#hidesmall, #hidesmall1, #hidesmall2, #hidesmall3{
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  z-index: 10;
  margin-top: 24px;
  left: calc(50% + 65px);
  opacity: 1;
}
#hidesmallpic, #hidesmallpic1, #hidesmallpic2, #hidesmallpic3{
  width: 12px;
  margin-top: 6.1px;
  margin-left: 4px;
  opacity: 1;
}
#costbutton {
    position: absolute;
    left: calc(50% - 50.5px);
    margin-top: 40px;
    font-size: 15px;
    opacity: 0;
    font-family: "Noto Sans";
}
    .main0{
  position: relative;
  width: 695px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 347.5px);
        opacity: 0;

    }
#cost, #cost1 {
    position: relative;
    text-align: center;
    height: 30px;
    width: 100%;
    margin-top: 40px;
    z-index: 2;
    overflow: hidden;
}
.four, .five, .six1{
    margin-top: 0px;
    padding-top: 60px;
    z-index: 3;
}
.six {
    margin-top: 20px;
    padding-top: 60px;
    z-index: 3;
}
}


@media (max-width: 768px){

  .first{
    top: 4vw;
  }
.navbar-brand {
    width: 200px;
    font-size: 2.8vw;
    font-weight: bold;
    margin-left: calc(6vw + 14px);
}
p#bruh1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 119.18%;
    margin-top: 2px;
}
.navbar-right {
margin-top: -38px;
  position: absolute;
  width: 0px;
z-index: 0;
left: calc(50% - 305px);
font-size: 12px;
font-weight: normal;
padding-inline-start: 20px;
}
#c20 {
    margin-bottom: -3px;
    margin-right: 7px;
}
#social1 {
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 3px;
}
.active1{

}
li {
  display: inline;
  padding-right: 0px;
}
.phone {
    position: absolute;
    top: 4px;
    left: calc(75vw + -3px);
    color: black;
    font-size: 2.2vw;
    font-weight: normal;
}
.navbar-header {
    width: 100vw;
    margin-right: calc( 100vw - 802px);
}
#bruh {
    position: absolute;
    left: 3vw;
    width: calc(2vw + 15px);
    height: 3.4vw;
    margin-top: calc(1vw - 6px);
}
.ramka {
    width: 40vw;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40vw;
}
#albert{
  width: 40vw;
  height: 40vw;
}
.insideright {
    position: absolute;
    left: calc(59vw - 5px);
    top: 12vw;
}
h1 {
    font-size: 3.5vw;
    width: 100%;
}
.insideleft {
    position: absolute;
    width: 45vw;
    left: 3vw;
    top: calc(23vw + -8px);
    font-size: 1.9vw;
}
.left1 {
    height: 52vw;
    background-color: white;
}
.secondcost1, #secondcost2, #secondcost3{
  font-size: 14px;
}
.secondcost11, .secondcost12, .secondcost13{
  font-size: 14px;
}
#leftcostdown {
    position: absolute;
    left: calc(50% - 440px);
    width: 400px;
    height: 300px;
    font-weight: bold;
    font-size: 18px;
    line-height: 148.18%;
    z-index: 2;
}
#learnmore {
    margin-top: 5vw;
    font-size: 2.2vw;
    opacity: 0;
}
#description{
  opacity: 0;
}
.strelka {
    position: absolute;
    margin-top: calc(1vw + 1px);
    margin-left: 1vw;
        width: 0px;
}
#secondcost2 {
    margin-left: 310px;
    margin-top: -251px;
    text-align: left;
    width: 216px;
    height: 300px;
    font-weight: bold;
    line-height: 148.18%;
    z-index: 2;
}
#secondcost21{
  text-align: left;
}
#secondcost3 {
    margin-left: 590px;
    margin-top: -300px;
    text-align: center;
    width: 154px;
    height: 400px;
    font-weight: bold;
    line-height: 148.18%;
    z-index: 2;
}
#costhyper1{
  font-size: 15px;
}
#order, #order1, #order2, #order3{
  font-size: 15px;
}
#secondcost31{
  text-align: left;
}
.secondcost1 {
  width: 130px;
  text-align: center;
}
.thirdcost11, .thirdcost12, .thirdcost13, .thirdcost14, #thirdcost5{
font-size: 14px;
}
.thirdcost12, .thirdcost13, .thirdcost14{
  margin-left: 0px;
}
#thirdcost2{
  margin-top: -386px;
  font-size: 14px;
  width: 100px;
  margin-left: 280px;
}
#thirdcost3{
  font-size: 14px;
  width: 100px;
  margin-left: 440px;
}
#thirdcost4, #thirdcost5{
  font-size: 14px;
  width: 190px;
  margin-left: 580px;
}

#thirdcost5{
  font-size: 14px;
  width: 190px;
  margin-left: 580px;
  margin-top: -245px;
}
#thirdcost3{
  font-size: 14px;
}
#thirdcost4{
  font-size: 14px;
}
#leftcostdown1{
  left: calc(50% - 441px);
}
.fourcost1{
  text-align: left;
  position: absolute;
  left: calc(50% - 232px);
  width: 400px;
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
.fourcost11 {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 148.18%;
    margin-left: calc(50% - 30px);
    letter-spacing: -0.04em;
}
#second {
    width: 40vw;
    height: 40vw;
}
.insideleft2 {
    position: absolute;
    width: 40vw;
    left: 3vw;
    opacity: 0;
}
.ramka1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 33px;
  height: 100%;
}
.ramka2{
  position: absolute;
  right: 0px;
  top: 0px;
    width: 33px;
  height: 100%;
}
.ramka3{
  position: absolute;
  left: 33px;
  top: 0px;
  width: calc(100% - 66px);
  height: 33px;
}
.ramka4{
  position: absolute;
  left: 33px;
  bottom: 0px;
    width: calc(100% - 66px);
    height: 33px;
}
.insideright2 {
    position: absolute;
    width: 70vw;
    text-align: center;
    left: calc(17vw - 5px);
    margin-top: 15px;
    font-size: 2.5vw;
    line-height: 150%;
}
#social {
    margin-top: 5vw;
}
.palka1 {
    margin-bottom: 3px;
    margin-left: 10px;
    width: 20px;
}
.palka {
    margin-bottom: 3px;
    margin-left: 10px;
}

.socialimg {
    width: 2.8vw;
    height: 2.3vw;
    margin-bottom: -1px;
    margin-left: 1.5vw;
}
.socialimg1 {
    margin-right: 2vw;
    margin-top: -5px;
    width: 5vw;
    height: 4vw;
}
.second {
    height: 52vw;
    background-color: white;
}
.left3 {
    width: 50%;
    position: absolute;
    left: 3vw;
    font-size: 3.2vw;
    line-height: 148.18%;
    font-style: normal;
    font-weight: bold;
}
.right3 {
    margin-top: calc(3vw - 12px);
    text-align: right;
    width: 285px;
    position: absolute;
    font-size: 12px;
    left: calc(100vw + -294px);
    line-height: 148.18%;
    font-style: normal;
}
#show, #show1, #show2, #show3 {
    float: right;
    left: calc(50% - 478px);
    width: 20vw;
    cursor: pointer;
    font-size: 15px;
}
a {
    color: #000;
    text-decoration: none;
    font-size: 2.4vw;

}
#costhyper, #costhyper2, #costhyper3, #costhyper4{
  font-size: 3vw;
}
.strelka2 {
    margin-bottom: -8px;
    width: 0px;
}
.main31, .main21, .main11, .main01 {
    position: relative;
    margin-top: 0px;
    width: 97vw;
    height: 131.8vw;
    background-color: white;
    left: calc(50% - 47vw);
}

#f1 {
    position: absolute;
    height: auto;
    width: calc(47%);
    left: 0px;
}
#f1:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: auto;
    width: calc(47%);
    left: 0px;
}
#f2{
    position: absolute;
    height: auto;
    width: calc(47%);
    left: 50%;
}
#f2:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: auto;
    width: calc(47%);
    left: 50%;
}
#f3 {
    position: absolute;
    height: auto;
    width: 47%;
    top: 50.5%;
    left: 0px;
}
#f3:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: auto;
    width: 47%;
    top: 50.5%;
    left: 0px;
}
#f4 {
    position: absolute;
    height: auto;
    width: 47%;
    top: 50.5%;
    left: 50%;
}
#f4:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: auto;
    width: 47%;
    top: 50.5%;
    left: 50%;
}
#f5, #f6, #f7, #f8, #f9, #f10{
  position: absolute;
  width: calc(0px);
}
#f5:hover, #f6:hover, #f7:hover, #f8:hover, #f9:hover, #f10:hover{
  position: absolute;
  width: calc(0px);
}
#d1 {
    position: absolute;
    height: 96%;
    width: calc(47%);
    left: 0px;
}
#d1:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: 47%;
    width: calc(47%);
    left: 0px;
}
#d2{
    position: absolute;
    height: 96%;
    width: calc(47%);
    left: 50%;
}
#d2:hover {
    position: absolute;
    margin-top: 0px;
    margin-left: calc(0px);
    height: 47%;
    width: calc(47%);
    left: 50%;
}
h1.sixh {
    font-size: 3.2vw;
    margin-bottom: 6vw;
}
.insideleft6 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.4vw;
    line-height: 150%;
    width: 62vw;
    text-align: center;
    left: calc(50% - 30vw);
    margin-bottom: -45px;
    bottom: auto;
}
.input {
    padding-left: 5vw;
    width: 100%;
    height: 13vw;
    margin-top: 6vw;
    border: 0px;
    font-size: 4vw;
}
.six {
    margin-top: 56px;
    position: relative;
    height: 127vw;
    width: 100%;
    background-color: #D8D8D8;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;

}
#learnmore6 {
    font-weight: bold;
    margin-top: 4vw;
}
.kek {
    position: absolute;
    width: 100%;
    background-color: white;
    height: 62px;
    bottom: 0px;
    padding-top: 20px;
}
.insideright6 {
    margin-top: 16px;
    width: 87vw;
    margin-top: 35vw;
    left: 4vw;
}
.order {
    margin-top: 5vw;
    width: 28vw;
    font-size: 4vw;
    height: 9vw;
}
.file{
  position: absolute;
  left: calc(296px);
  width: 0px;
  top: calc(-15px + 50%);
}

#f11{
  position: absolute;
  left: calc(15.65% + 15.65% + 30px); 
  height: 178px;
  width: 33.1%;
  transition: linear 0.2s;
}
#f11:hover {
    margin-top: -7.475px;
  height: 178px;
  width: 33.1%;
  margin-left: calc(-5.35px); 
}
#f12{
  position: absolute;
  height: 265px;
  width: 15.65%;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
   transition: linear 0.2s;
}
#f12:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f13{
  position: absolute;
  height: 265px;
  width: 15.65%;
  top: 280px;
  left: calc(15.65% + 15.65% + 30px);
  transition: linear 0.2s;
}
#f13:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f14{
  position: absolute;
  left: calc(15.65% + 15.65% + 15.65% + 45px); 
  height: 265px;
  width: 15.65%;
  top: 280px;
  transition: linear 0.2s;
}
#f14:hover {
    margin-top: -7.475px;
  height: 280px;
  margin-left: calc(-5.35px); 
  width: 16.3%;
}
#f15{
  position: absolute;
  left: calc(0); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f15:hover {
  margin-top: -6.13px;
  margin-left: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}

#f16{
  position: absolute;
  right: calc(0px); 
  height: 545px;
  width: 32.5%;
  transition: linear 0.2s;
}
#f16:hover {
  margin-top: -6.13px;
  position: absolute;
  margin-right: calc(-3.35px); 
  height: 560px;
  z-index: 3;
  width: 33%;

}
    .main3, .main2, .main1{
    position: relative;
    width: 97vw;
    height: 131.8vw;
    margin-top: 1vw;
    background-color: white;
    left: calc(50% - 47vw);

    }
#showmore, #showmore1, #showmore2, #showmore3 {
    width: 100vw;
    left: calc(0px);
    font-size: 2vw;
    font-weight: bold;
    height: 8vw;
    margin-top: 1vw;
}
  .main5{
  padding-top: 10vw;
  background-color: white;
  z-index: 3;
}
#leftcost{
  position: absolute;
  left: calc(50% - 350px);
  width: 400px;
  height: 286px;
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
#rightcost{
  width: 400px;
  height: 286px;
  margin-left: calc(50% + -54px);
  font-weight: bold;
font-size: 14px;
line-height: 148.18%;
z-index: 2;
}
.leftcost1{
  position: absolute;
  margin-top: 30px;
  font-weight: normal;
font-size: 14px;
line-height: 148.18%;
margin-left: 120px;
z-index: 2;
}
.leftcost2{
    margin-top: 30px;
  font-weight: normal;
font-size: 14px;
line-height: 148.18%;
margin-left: 86px;
z-index: 2;
}
#hidesmall, #hidesmall1, #hidesmall2, #hidesmall3 {
    position: absolute;
    background-color: white;
    width: 5vw;
    height: 5vw;
    z-index: 10;
    margin-top: 2.5vw;
    left: calc(90vw);
    opacity: 1;
}
#hidesmallpic, #hidesmallpic1, #hidesmallpic2, #hidesmallpic3 {
    width: 3vw;
    margin-top: 1.5vw;
    margin-left: 1vw;
    opacity: 1;
}
#costbutton {
    position: absolute;
    left: calc(50% - 50.5px);
    margin-top: 40px;
    font-size: 15px;
    opacity: 0;
    font-family: "Noto Sans";
}
    .main0{
  position: relative;
  width: 695px;
  height: 545px;
  margin-top:15px;
  background-color: white;
        left: calc(50% - 347.5px);
        opacity: 0;

    }
#cost, #cost1, #cost2, #cost3 {
    position: relative;
    text-align: center;
    height: 30px;
    width: 100%;
    margin-top: 3vw;
    z-index: 2;
    overflow: hidden;
}
.four, .five, .six1{
    margin-top: 0px;
    padding-top: 60px;
    z-index: 3;
}
.six {
    margin-top: 20px;
    padding-top: 60px;
    z-index: 3;
}
}